<footer class="absolute bottom-0 w-full animate-fade-down animate-once animate-duration-2000 animate-ease-in-out">
   <div class="w-full flex max-md:flex-col items-center justify-center ">
        <span>Challenge by <a href="https://www.frontendmentor.io/challenges/blog-preview-card-ckPaj01IcS" rel="noopener" target="_blank">Frontend Mentor</a>. </span>
        <br>
        <span>Coded by <a href="https://www.linkedin.com/in/emanuelramirezabarca/" class="text-black ">Tomas Emanuel Ramirez Abarca</a>.</span>
   </div>
</footer>